* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.book-list{
    background-image: url('/images/homepage.jpg');
    background-size: cover;  /* Ensures the image covers the entire area */
    background-repeat: no-repeat;  /* Prevents repetition */
    background-position: center center;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    padding: 20px 0;
    text-align: center;
}

/*header h1 {*/
/*    font-size: 2.5em;*/
/*    margin-bottom: 10px;*/
/*}*/

header nav ul {
    list-style: none;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

header nav ul li a:hover {
    text-decoration: underline;
}

.book-list {
    padding: 40px 0;
    background-color: white;
}

.book-list h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2em;
    color: darkmagenta;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.book-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.book-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 24px rgba(0, 0, 0, 0.2);
}

.book-cover {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.book-card h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.book-card p {
    margin: 5px 0;
}

.book-card button {
    background-color: #28a745;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.book-card button:hover {
    background-color: #218838;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    font-size: 1em;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    header h1 {
        font-size: 2em;
    }

    header nav ul li {
        font-size: 1.1em;
    }
}